@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 50px;
    margin: 10px 80px;
    background: rgba(255, 255, 255, 0.753);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.navbar-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 38px;
    width: 70px;
    margin-right: 10px;
}

.title {
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    background: linear-gradient(90deg, #0B69A3, #40C3F7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
}

.nav-items {
    display: flex;
    padding: 0;
}

.menu-item {
    margin: 0 15px;
    list-style: none;
}

.menu-item a {
    color: #27272A;
    text-decoration: none;
    position: relative;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    transition: all 0.5s ease-in;
}

.menu-item a:hover {
    color: #27272A;
    transition: all 0.5s ease-in;
}

.menu-item a::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background-color: #27272A;
    color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.menu-item a:hover::after {
    transform: scaleX(1);
}